@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

html,
body {
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
